In [ ]:
uderstanding the variable in python:

In [2]:
x = 5
y = 3

In [3]:
x +y

8

In [ ]:
Rules for declaring the variables:

In [ ]:
1. No namespace while declaring the variable names.

In [4]:
first name = 'faiyaz'
print(first name)

SyntaxError: invalid syntax (<ipython-input-4-b9d6a58b7e58>, line 1)

In [5]:
firstname = 'faiyaz'
print(firstname)

faiyaz

In [7]:
first_name = 'Faiyaz'
print(first_name)

Faiyaz

In [ ]:
2.variable name should not start with a number **

In [9]:
1name = 'Raghu'
print(1name)

SyntaxError: invalid syntax (<ipython-input-9-891ee65d58fa>, line 1)

In [10]:
name1 = 'raghu'
print(name1)

raghu

In [ ]:
3. variable name should not contain any special charecters
@$%&

In [11]:
name@ = 'anita'
print(anme@)

SyntaxError: invalid syntax (<ipython-input-11-bfffb1b4efbf>, line 1)

In [ ]:
introduction to datatypes in python:
    1. string ---> str
    2. Numbers ---> integers (int) and floats(floats) (decimal values)
    3. list ---> list
    4. tuple ---> tuple
    5. dictionaries ---> dict

In [ ]:
classification of datatypes in python:

In [ ]:
it has been segregated in to 2 categories:
    1. mutable datatypes ---> whichwe can ediit and alter.
    2. immutable datatype ---> we will not able edit or alter the datatype

In [ ]:
Introduction to string datatypes:

In [ ]:
overview and defination : A string is nothin but a series of charecgters enclosed between the quotes.
Classification : it is classified as an immutable datatype
    
how do you declare a string ---> 3 possible approaches
1. single uotes
2. double quotes
3. triple quotes

In [12]:
name = 'gagan'
print(name)

gagan

In [14]:
name2 = "pavan"
print(name2)

pavan

In [16]:
name3 = '''naveen'''
print(name3)

naveen

In [ ]:
Note : python is a case sensitive language

In [ ]:
introduction to string methods

In [ ]:
type() ---> it will be confirming the validity of the datatype.

In [17]:
type(name)

str

In [18]:
type(name2)

str

In [19]:
type(name3)

str